

# services:
#   backend:
#     build:
#       context: ./Backend
#       dockerfile: Dockerfile
#       target: prod
#       args:
#         NODE_ENV: production
#     container_name: highimpact_backend
#     ports:
#       - "4000:4000"
#     restart: always
#     env_file:
#       # for production
#       - /home/ubuntu/highimpact/.env
#       # for local development
#       #  - ./Backend/.env
#     healthcheck:
#       test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:4000/health"]
#       interval: 30s
#       timeout: 10s
#       retries: 3
#       start_period: 15s

#   frontend:
#     build:
#       context: ./Frontend
#       dockerfile: Dockerfile
#       target: prod
#       args:
#         NODE_ENV: production
#     container_name: highimpact_frontend
#     ports:
#       - "3000:3000"
#     restart: always
#     depends_on:
#       backend:
#         condition: service_healthy
#     healthcheck:
#       test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:3000"]
#       interval: 30s
#       timeout: 10s
#       retries: 3
#       start_period: 15s
